.navbar{
    background: rgba(232, 177, 25, 0.324);
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 3.2rem;
    border-radius: 50%;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: black;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}

.desktopMenuBtn{
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 0.8rem;
}

.active {
    color: black;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
}

.mobMenu {
    height: 1.8rem;
    width: 2rem;
    display: none;
    object-fit: cover;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgba(255, 238, 0, 0.217);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: #f8b500;

}

@media only screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;

    }
    .desktopMenuBtn {
        display: none;
    }
}