/* Proficiency.css */

#proficiency {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  background-color: #fff0b92e;
  border: 1px solid #3498db10;
  padding: 1rem;
  border-radius: 10px;
}

/* Style for the Skills container */
.Proficiency-container {
  overflow: hidden;
  width: 50%; /* Adjusted width for better responsiveness */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Style for the Skills heading */
.Proficiency-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

/* Style for individual skill items */
.Proficiency-skill {
  list-style-type: none;
  margin-bottom: 1rem;
}

/* Style for skill names */
.Proficiency-skill-name {
  font-weight: 600;
  margin-right: 0.5rem;
}

/* Style for skill levels */
/* .Proficiency-skill-level-block {
  display: block;
  height: 12px;
  background-color: #3498db;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  width: 100%;
} */

.level {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

/* Customize the block size and color based on proficiency levels */
.Proficiency-skill-level-block.Intermediate {
  width: 60%;
}

.Proficiency-skill-level-block.Advanced {
  width: 80%;
}

.list {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.img {
  border-radius: 10%;
  width: 30rem;
  height: 20rem;
  margin: 2rem 1rem; /* Adjusted margin for better spacing */
}

@media (max-width: 768px) {
  /* Responsive styling for smaller screens */
  #proficiency {
    flex-direction: column;
    align-items: center;
  }

  .Proficiency-container {
    width: 80%; /* Adjusted width for better responsiveness on smaller screens */
    margin-bottom: 2rem;
  }

  .img {
    width: 50%; /* Make the image take full width on smaller screens */
    margin: 2rem 0; /* Adjusted margin for better spacing */
  }
}
